flows (1).json
[{"id":"b71c483d.2859f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac9359af.2f0908","type":"ibmiot","name":"intelligent2","keepalive":"60","serverName":"yuhx22.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2729613f.03bf7e","type":"cloudant","host":"6e88e979-53b6-459c-a79a-3b91b6e130c9-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"7bc2150c.18de9c","type":"ui_tab","name":"water flow / level / bill","icon":"dashboard","disabled":false,"hidden":false},{"id":"f3f6941.373f768","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Palatino Linotype,Palatino,Book Antiqua,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Palatino Linotype,Palatino,Book Antiqua,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"23af97b2.0ebbd8","type":"ui_group","name":"information","tab":"7bc2150c.18de9c","order":1,"disp":true,"width":"4","collapse":false},{"id":"c07385e0.853bb8","type":"ui_spacer","name":"spacer","group":"23af97b2.0ebbd8","order":1,"width":1,"height":1},{"id":"6264a78e.cbea08","type":"ui_tab","name":"bill","icon":"dashboard","disabled":false,"hidden":false},{"id":"f2f2649a.0d0d98","type":"debug","z":"b71c483d.2859f8","name":"","active":true,"console":"false","complete":"false","x":390,"y":60,"wires":[]},{"id":"1bb2b9b7.da85c6","type":"ibmiot in","z":"b71c483d.2859f8","authentication":"apiKey","apiKey":"ac9359af.2f0908","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"intelligent","eventType":"event_1","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":110,"y":120,"wires":[["f2f2649a.0d0d98","77a35055.56b86","92ad250c.52d488","74de9d73.ab5b64","d06f72de.08ae5"]]},{"id":"77a35055.56b86","type":"cloudant out","z":"b71c483d.2859f8","name":"","cloudant":"2729613f.03bf7e","database":"new","service":"_ext_","payonly":false,"operation":"insert","x":330,"y":120,"wires":[]},{"id":"92ad250c.52d488","type":"function","z":"b71c483d.2859f8","name":"water-flow","func":"msg.payload= msg.payload.water_flow\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["f6ae7d64.c0f","5e5ed5d0.9dd24c"]]},{"id":"74de9d73.ab5b64","type":"function","z":"b71c483d.2859f8","name":"water_tank_level","func":"msg.payload = msg.payload.water_tank_level\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["b2817cda.57f8d","bfd8bfe7.1ab7d"]]},{"id":"f6ae7d64.c0f","type":"debug","z":"b71c483d.2859f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":240,"wires":[]},{"id":"b2817cda.57f8d","type":"debug","z":"b71c483d.2859f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"bfd8bfe7.1ab7d","type":"ui_gauge","z":"b71c483d.2859f8","name":"","group":"23af97b2.0ebbd8","order":0,"width":0,"height":0,"gtype":"wave","title":"water_tank_level","label":"m","format":"{{value}}","min":0,"max":"100","colors":["#7ec2d3","#1474c8","#470ad6"],"seg1":"","seg2":"","x":610,"y":400,"wires":[]},{"id":"5e5ed5d0.9dd24c","type":"ui_gauge","z":"b71c483d.2859f8","name":"","group":"23af97b2.0ebbd8","order":0,"width":0,"height":0,"gtype":"gage","title":"water_flow","label":"m","format":"{{value}}","min":0,"max":"1000","colors":["#d7a61d","#f07314","#d60a0a"],"seg1":"","seg2":"","x":570,"y":160,"wires":[]},{"id":"d06f72de.08ae5","type":"function","z":"b71c483d.2859f8","name":"bills","func":"msg.payload = msg.payload.water_flow * 75\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":380,"wires":[["3b89bde1.b989f2","77d7c15e.0ef4f"]]},{"id":"3b89bde1.b989f2","type":"debug","z":"b71c483d.2859f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":480,"wires":[]},{"id":"77d7c15e.0ef4f","type":"ui_gauge","z":"b71c483d.2859f8","name":"","group":"23af97b2.0ebbd8","order":0,"width":0,"height":0,"gtype":"donut","title":"bill","label":"$","format":"{{value}}","min":0,"max":"100000","colors":["#7ec2d3","#1474c8","#470ad6"],"seg1":"","seg2":"","x":370,"y":540,"wires":[]}]